{% extends "base.html" %}

{% if org != 'all' %}
{% set title = orgdata.name %}
{% endif %}

{% block content %}
<style>
    .first-col {
        width: 120px;
        position: sticky;
        left: 0;
        background-color: #ffffff;
        z-index: 10;
        box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    }
</style>
<form action="{{ url_for('evaluations', org=org) }}" method="get" class="w3-container" style="padding: 0.01em 5px" autocomplete="off">
    <button type="submit" class="btn btn-success" >
     <i class="fa fa-filter"></i> Filter table
    </button>
    <script>
        function showTitle(title) {
            //console.log(title);
            const toolTip = document.getElementById("toolTip");
            toolTip.innerText=  title;
        }

    </script>
    <div style="overflow-x: auto;">
    <table class="w3-table w3-bordered w3-tiny w3-hoverable">
        <tr>
            <th class="first-col">Name<br />
            <input id="item_name" name="item_name" type="text" value="{{filter.item_name}}" />
            <span  style="font-size: 0.8em; color: #666;">Hint: use comma separated values, e.g. "Ikuma 3, Artik 7"</span>
            </th>
            {% for i in range(evaluations.index|length) %}
                <td class="w3-center">{{evaluations.index[i][0]}}</td>
            {% endfor %}
        </tr>
        <tr>
            <th class="first-col">Weight range (kg)<br /></th>
            {% for i in range(evaluations.index|length) %}
                <td class="w3-center">{{evaluations.index[i][2]|int}}-{{evaluations.index[i][3]|int}}</td>
            {% endfor %}                
        </tr>
        <tr>
            <th class="first-col">Proj. surface (m²)<br /> 
                <span  style="font-size: 0.8em; color: #666;">*For certain Ozone, Advance, Niviuk models</span> 
             </th>
            {% for i in range(evaluations.index|length) %}
                <td class="w3-center">{{ "%.2f"|format(evaluations.index[i][4]) if evaluations.index[i][4] == evaluations.index[i][4] else '' }}</td>
            {% endfor %}
        
        </tr>        
        <tr>
            <th class="first-col">Takeoff Weight (kg)
            <div>
            <input id="weight" name="weight" type="text" value="{{filter.weight}}" size="2" />
            <span  style="font-size: 0.8em; color: #666;">=> Wing load</span>
            </div>
        </th>
            {% for i in range(evaluations.index|length) %}
                <td class="w3-center">
                    {% if filter.weight and evaluations.index[i][4] and evaluations.index[i][4] == evaluations.index[i][4] and evaluations.index[i][4] > 0 %}
                        {{ "%.2f"|format(filter.weight|float / evaluations.index[i][4]) }}
                    {% else %}
                        
                    {% endif %}
                </td>
            {% endfor %}
        </tr>
            <th class="first-col">Class<br />
                <input id="classification" name="classification" type="text" value="{{filter.classification}}" size="2" />
            </th>
            {% for i in range(evaluations.index|length) %}
                <td class="w3-center">{{evaluations.index[i][1]}}</td>
            {% endfor %}
        </tr>    
        {% for j in range(evaluations.columns|length) %}
        <tr>
            <th class="first-col" title="{{evaluations.columns[j][1]}}" onmouseover="showTitle(title)">{{evaluations.columns[j][1]}}</th>
            {% for i in range(evaluations.index|length) %}
                <td class="w3-center {{evaluations.data[i][j]}}" 
                    title="{{evaluations.columns[j][1]}}" 
                    onmouseover="showTitle(title)"
                    ontouchstart="showTitle(title)">{{evaluations.data[i][j]}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    </div>
</form>
{% endblock %}