{% extends "base.html" %}


{% set title = orgdata.name %}

{% block content %}

<div class="w3-row w3-half">
    <form action="/{{org}}" method="post" class="w3-container w3-quarter" autocomplete="off" >
        <input type="submit" value="Refresh test list" class="w3-button"  />
    </form>

    <form action="/{{org}}/details" method="post" class="w3-container w3-quarter" autocomplete="off">
        <input type="submit" value="Get download links" class="w3-button"  />
    </form>

    <form action="/{{org}}/load-pdf" method="post" class="w3-container w3-quarter" autocomplete="off">
        <input type="submit" value="Get PDF files" class="w3-button"  />
    </form>    
</div>

    <table class="w3-table w3-bordered">
        <tr>
            <th>Report date</th>
            <th>Item name</th>
            <th>Class</th>
            <th>Download link</th>
            <th>PDF?</th>
        </tr>
        {% for report in reports %}
        <tr>
            <td>{{report.report_date}}</td>
            <td>{{report.item_name}}</td>
            <td>{{report.report_class}}</td>
            <td>{{'-' if report.download_link is none else 'ok'}}</td>
            <!-- <td>{{report.download_link}}</td> -->
            <td>{{report.pdf_available}}</td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}