{% extends "base.html" %}


{% set title = orgdata.name %}

{% block content %}

<div class="w3-row ">
    <form action="/{{org}}" method="post" class="w3-container " autocomplete="off" >
        <input type="submit" value="Refresh test list" class="w3-button"  />
    </form>

    {% if org=='air-turquoise' %}
    <form action="/{{org}}/details" method="post" class="w3-container " autocomplete="off">
        <input type="submit" value="Get download links" class="w3-button"  />
    </form>

    <form action="/{{org}}/load-pdf" method="post" class="w3-container " autocomplete="off">
        <input type="submit" value="Get PDF files" class="w3-button"  />
    </form>
    {% endif %}

    <!-- <form action="/{{org}}/load-eval" method="post" class="w3-container" autocomplete="off">
        <input type="submit" value="Extract PDF" class="w3-button"  />
    </form> -->

    <form action="/{{org}}/evaluations" method="get" class="w3-container" autocomplete="off">
        <input type="submit" value="To evaluations" class="w3-button"  />
    </form>

</div>

    <table class="w3-table w3-bordered w3-hoverable">
        <tr>
            <th>Report date</th>
            <th>Item name</th>
            <th>Class</th>
            <th>Weight range (kg)</th>
            {% if org=='air-turquoise' %}            
                <th>Download link</th>
                <th>PDF?</th>
            {% endif %}
            <th>Ratings?</th>
        </tr>
        {% for report in reports %}
        <tr>
            <td>{{report.report_date}}</td>
            <td><a href='/{{org}}/items/{{report.item_id}}' > {{report.item_name}}</a></td>
            <td>{{report.report_class}}</td>
            <td>{{report.weight_min|int}} - {{report.weight_max|int}} </td>
            {% if org=='air-turquoise' %}            
                <td>{{'-' if report.download_link is none else 'ok'}}</td>
                <!-- <td>{{report.download_link}}</td> -->
                <td>{{report.pdf_available}}</td>
            {% endif %}                
            <td>{{report.evaluation}}</td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}